# Grouping by
### Importing the library and csv files

In [2]:
import pandas as pd

In [8]:
df = pd.read_csv("Excel and CSV Files/General Weather Data.csv", sep = None, engine = "python")
df

         ﻿day       city  temperature  windspeed   event
0   1.01.2021   new york           32          6    Rain
1   2.01.2021   new york           36          7   Sunny
2   3.01.2021   new york           28         12    Snow
3   4.01.2021   new york           33          7   Sunny
4   1.01.2021     ankara           90          5   Sunny
5   2.01.2021     ankara           85         12     Fog
6   3.01.2021     ankara           87         15     Fog
7   4.01.2021     ankara           92          5    Rain
8   1.01.2021  hong kong           45         20   Sunny
9   2.01.2021  hong kong           50         13  Cloudy
10  3.01.2021  hong kong           54          8  Cloudy
11  4.01.2021  hong kong           42         10  Cloudy

This `.groupby` function groups the data according to the given paramter.
<br>In this case there are three cities therefore there are three grups

In [9]:
g = df.groupby('city')
g

### As we can see below:

In [10]:
for city,city_df in g:
    print(city)
    print(city_df)

ankara
        ﻿day    city  temperature  windspeed  event
4  1.01.2021  ankara           90          5  Sunny
5  2.01.2021  ankara           85         12    Fog
6  3.01.2021  ankara           87         15    Fog
7  4.01.2021  ankara           92          5   Rain
hong kong
         ﻿day       city  temperature  windspeed   event
8   1.01.2021  hong kong           45         20   Sunny
9   2.01.2021  hong kong           50         13  Cloudy
10  3.01.2021  hong kong           54          8  Cloudy
11  4.01.2021  hong kong           42         10  Cloudy
new york
        ﻿day      city  temperature  windspeed  event
0  1.01.2021  new york           32          6   Rain
1  2.01.2021  new york           36          7  Sunny
2  3.01.2021  new york           28         12   Snow
3  4.01.2021  new york           33          7  Sunny

This function is really similiar to following SQL code:
<br>`SELECT * from city_data GROUP BY City`

In [13]:
g.max() #illustrates the max value on the groups

                ﻿day  temperature  windspeed  event
city
ankara     4.01.2021           92         15  Sunny
hong kong  4.01.2021           54         20  Sunny
new york   4.01.2021           36         12  Sunny

In [15]:
g.mean() # Indicates the average value on the categories

           temperature  windspeed
city
ankara           88.50       9.25
hong kong        47.75      12.75
new york         32.25       8.00

In [18]:
g.describe() # Shwos all of the information

          temperature                                                   \
                count   mean       std   min    25%   50%    75%   max
city
ankara            4.0  88.50  3.109126  85.0  86.50  88.5  90.50  92.0
hong kong         4.0  47.75  5.315073  42.0  44.25  47.5  51.00  54.0
new york          4.0  32.25  3.304038  28.0  31.00  32.5  33.75  36.0

          windspeed
              count   mean       std  min   25%   50%    75%   max
city
ankara          4.0   9.25  5.057997  5.0  5.00   8.5  12.75  15.0
hong kong       4.0  12.75  5.251984  8.0  9.50  11.5  14.75  20.0
new york        4.0   8.00  2.708013  6.0  6.75   7.0   8.25  12.0