# Pandas Library Cheat Sheet
### This notebook is my attempt to understand and learn the Pandas library.
***
<br>First of all, we are going to import the library:

In [19]:
import pandas as pd

***
## Dataframe Basics:

Dataframe is the main object in the Pandas framework and is a way to represent data with rows and columns.
<br>In order to get the dataframe as a variable we will use the following command:

In [20]:
df = pd.read_csv("C:/Users/mhyms/Documents/Files/Python/Dataframes/Doomsday survial rate.csv")

We are going to put the files directory as a string parameter in the `read_csv()` function.
<br>In this case we are using the survival rate of the people after a apocalyptic scenerio.

In [24]:
df

  Name;Date;Survival Rate;Number of People
0              Ankara;1.01.2021;0.5;150000
1              London;1.02.2021;0.4;250000
2          New York;1.03.2021;0.3;15000000
3              Paris;1.04.2021;0.2;5400000
4             Tokyo;1.05.2021;0.1;99000000
5               Moscow;1.06.2021;0.0;34000

### And now we are going to create the same dataframe with python dictionaries:

In [25]:
survivalRate = {
    'City Name' : ["Ankara", "London", "New York", "Paris", "Tokyo"],
    'Date' : ['1.01.2021', '2.01.2021', '3.01.2021', '4.01.2021', '5.01.2021'],
    'Survival Rate' : [0.5, 0.4, 0.3, 0.2, 0.1],
    'Number of People' : [150000, 250000, 15000000, 540000, 99000000]
}

dataFrame = pd.DataFrame(survivalRate)

In [26]:
dataFrame

  City Name       Date  Survival Rate  Number of People
0    Ankara  1.01.2021            0.5            150000
1    London  2.01.2021            0.4            250000
2  New York  3.01.2021            0.3          15000000
3     Paris  4.01.2021            0.2            540000
4     Tokyo  5.01.2021            0.1          99000000

To get the shape of the dataframe:

In [30]:
rows, columns = dataFrame.shape
print("rows: ",rows)
print("columns: ", columns)

rows:  5
columns:  4